<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Ada Lovelace</title>
</head>
<body class="body-lovelace">
        <header>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/babbage">BABBAGE</a></li>
                    <li><a href="/berners-lee">BERNERS-LEE</a></li>
                    <li><a href="/clarke">CLARKE</a></li>
                    <li><a href="/hamilton">HAMILTON</a></li>
                    <li><a href="/lovelace">LOVELACE</a></li>
                    <li><a href="/hopper">HOPPER</a></li>
                    <li><a href="/turing">TURING</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>ADA LOVELACE</h1>
            <p class="parrafo"><b>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852), registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica. Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.2​3​4​

                Lovelace fue la única hija legítima del poeta lord Byron y su esposa lady Byron. Byron se separó de su esposa un mes después del nacimiento de Ada y dejó Inglaterra para siempre cuatro meses después. Conmemoró la despedida en un poema que comienza: «¿Es tu rostro como el de tu madre, mi bella hija? ¡ADA! Hija única de mi casa y mi corazón».5​ Murió en la Guerra de independencia de Grecia cuando Ada tenía ocho años.
                
                Dedujo y previó la capacidad de los ordenadores para ir más allá de los simples cálculos de números, mientras que otros, incluido el propio Babbage, se centraron únicamente en estas capacidades.6 </b></p>
        </main>
        <footer>
            <h4 class="center">HEROES DIGITAL HOUSE</h1>
        </footer>
</body>
</html>